.example-spacer {
  flex: 1 1 auto;
}

.bienvenida {
  font-size: 1.8vw;
  margin-right: 10px;
}

.icon-dark-light {
  padding-left: 5px;
  padding-right: 5px;
}

.example-drawer-container {
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  font-size: 3vw;
}
