table {
  width: 100%;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

.button-actions {
  width: 40px;
  height: 44px;
}

.icon-actions {
  font-size: 12px !important;
}

.img-cell {
  max-height: 50px;
}

.create-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
