.mat-cell {
  font-size: 14px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.mat-header-cell {
  font-size: 14px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.tipos-encuesta-container {
  width: auto;
  max-width: 100vw;
  overflow: auto;
  max-height: 530px;
}

table {
  width: 100vw;
  min-height: 182px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.tipos-encuesta-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.tipos-encuesta-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.tipos-encuesta-button-container {
  display: flex;
  justify-content: center;
}

.button-actions {
  width: 40px;
  height: 44px;
}

.icon-actions {
  font-size: 12px !important;
}

.img-cell {
  max-height: 50px;
}

.create-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 960px) {
  .mat-cell {
    font-size: 8px;
  }

  .mat-header-cell {
    font-size: 8px;
  }
  .tipos-encuesta-container {
    min-height: auto;
    height: 580px;
  }
}

@media only screen and (min-width: 960px) {
  .tipos-encuesta-container::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
  }

  .tipos-encuesta-container::-webkit-scrollbar:vertical {
    width: 6px;
    background-color: var(--warn-color);
  }

  .tipos-encuesta-container::-webkit-scrollbar-button:increment,.tipos-encuesta-container::-webkit-scrollbar-button {
    display: none;
  }

  .tipos-encuesta-container::-webkit-scrollbar:horizontal {
    height: 6px;
    background-color: var(--warn-color);
  }

  .tipos-encuesta-container::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);;
    border-radius: 20px;
    border: 1px solid var(--warn-color);
  }

  .tipos-encuesta-container::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-headers-align {
  width: 100%;
}

.example-full-width {
  width: 100%;
  min-height: 70px;
}

.add-pregunta {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.buttons-edit-resp {
  display: flex;
  justify-content: center;
}
