<ng-container *ngIf="isImageSaved && !imageError;">
  <div class="container-img-logo">
    <img [src]="cardImageBase64" class="img-logo"/>
  </div>
</ng-container>
<form [formGroup]="createAdminForm">
  <mat-form-field appearance="fill">
    <mat-label>Codigo</mat-label>
    <input matInput formControlName="codigo" placeholder="Introduzca 3 digitos obligatoriamente">
  </mat-form-field>
  <div *ngIf="createAdminForm.get('codigo')?.invalid && (createAdminForm.get('codigo')?.dirty || createAdminForm.get('codigo')?.touched)" class="alert alert-danger">
    <div *ngIf="createAdminForm.get('codigo')?.errors?.['required']">
      El codigo es requerido.
    </div>
    <div *ngIf="createAdminForm.get('codigo')?.errors?.['pattern']">
      El codigo debe ser numerico y de 3 dígitos.
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" placeholder="Introduzca un nombre">
  </mat-form-field>
  <div *ngIf="createAdminForm.get('nombre')?.invalid && (createAdminForm.get('nombre')?.dirty || createAdminForm.get('nombre')?.touched)" class="alert alert-danger">
    <div *ngIf="createAdminForm.get('nombre')?.errors?.['required']">
      El nombre es requerido.
    </div>
    <div *ngIf="createAdminForm.get('nombre')?.errors?.['maxlength']">
      Solo se permiten 100 caracteres para el nombre.
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="clave" [type]="hide ? 'password' : 'text'" placeholder="Introduzca contraseña del admin">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="createAdminForm.get('clave')?.invalid && (createAdminForm.get('clave')?.dirty || createAdminForm.get('clave')?.touched)" class="alert alert-danger">
    <div *ngIf="createAdminForm.get('clave')?.errors?.['required']">
      La contraseña es requerida.
    </div>
    <div *ngIf="createAdminForm.get('clave')?.errors?.['maxlength']">
      Solo se permiten 12 caracteres para la contraseña.
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>¿FSBS?</mat-label>
    <mat-select formControlName="fsbs" panelClass="panel-custom">
      <mat-option [value]="true">Si</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <div>
      <mat-toolbar class="custom-toolbar">
        <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="logoAtrib" readonly name="name" />
        <button class="button-files" mat-flat-button color="primary">Subir un logo</button>
      </mat-toolbar>
      <input
        type="file"
        accept="image/jpeg,image/png"
        #logoInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
      />
    </div>
  </mat-form-field>
  <button class="login-button-container create-button-custom" (click)="onSubmit()" [disabled]="!createAdminForm.valid" mat-raised-button color="primary">Crear Admin</button>
</form>
