<mat-accordion class="example-headers-align" hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Encuesta 1
      </mat-panel-title>
      <mat-panel-description>
        Contiene las estadisticas de la encuesta 1
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Encuesta 2
      </mat-panel-title>
      <mat-panel-description>
        Contiene las estadisticas de la encuesta 2
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Encuesta 3
      </mat-panel-title>
      <mat-panel-description>
        Contiene las estadisticas de la encuesta 3
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Encuesta 4
      </mat-panel-title>
      <mat-panel-description>
        Contiene las estadisticas de la encuesta 4
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Encuesta 5
      </mat-panel-title>
      <mat-panel-description>
        Contiene las estadisticas de la encuesta 5
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>

  </mat-expansion-panel>
</mat-accordion>

