<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="buscar">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #tabla2>

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
      <td mat-cell *matCellDef="let tipoencuesta" data-label="Codigo"> {{tipoencuesta.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="identificador">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo Tipo de Encuesta </th>
      <td mat-cell *matCellDef="let tipoencuesta" data-label="Identificador"> {{tipoencuesta.identificador}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let tipoencuesta" data-label="Descripcion"> {{tipoencuesta.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="afectacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Afectacion </th>
      <td mat-cell *matCellDef="let tipoencuesta" data-label="Afectacion"> {{tipoencuesta.afectacion}} </td>
    </ng-container>

    <ng-container matColumnDef="createdIp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> IP de Creación </th>
      <td mat-cell *matCellDef="let tipoencuesta" data-label="IP de Creación"> {{tipoencuesta.createdIp}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
      <td mat-cell *matCellDef="let tipoencuesta" data-label="Fecha de Creación"> {{tipoencuesta.createdAt | date: 'medium':"+0000":"es-EC"}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedIp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> IP de Actualización </th>
      <td mat-cell *matCellDef="let tipoencuesta" data-label="IP de Actualización"> {{tipoencuesta.updatedIp}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Actualización </th>
      <td mat-cell *matCellDef="let tipoencuesta" data-label="Fecha de Actualización"> {{tipoencuesta.updatedAt | date: 'medium':"+0000":"es-EC"}} </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="20">No hay tipos de encuesta</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>

