<form [formGroup]="updateTipoEncuestaForm">
  <mat-form-field appearance="fill">
    <mat-label>Código Tipo de Encuesta</mat-label>
    <input matInput formControlName="identificador" placeholder="Introduzca un identificador para el tipo de encuesta">
  </mat-form-field>
  <div *ngIf="updateTipoEncuestaForm.get('identificador')?.invalid && (updateTipoEncuestaForm.get('identificador')?.dirty || updateTipoEncuestaForm.get('identificador')?.touched)" class="alert alert-danger">
    <div *ngIf="updateTipoEncuestaForm.get('identificador')?.errors?.['required']">
      El código de tipo de encuesta es requerido.
    </div>
    <div *ngIf="updateTipoEncuestaForm.get('identificador')?.errors?.['maxlength']">
      Solo se permiten máximo 3 caracteres para el código de tipo de encuesta.
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Descripción del Tipo de Encuesta</mat-label>
    <input matInput formControlName="descripcion" placeholder="Introduzca una descripcion para el tipo de encuesta">
  </mat-form-field>
  <div *ngIf="updateTipoEncuestaForm.get('descripcion')?.invalid && (updateTipoEncuestaForm.get('descripcion')?.dirty || updateTipoEncuestaForm.get('descripcion')?.touched)" class="alert alert-danger">
    <div *ngIf="updateTipoEncuestaForm.get('descripcion')?.errors?.['required']">
      La descripción del tipo de encuesta es requerido.
    </div>
    <div *ngIf="updateTipoEncuestaForm.get('descripcion')?.errors?.['maxlength']">
      Solo se permiten 100 caracteres para la descripción del tipo de encuesta.
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>¿Afectación?</mat-label>
    <mat-select formControlName="afectacion" panelClass="panel-custom">
      <mat-option value="CLIENTE">CLIENTE</mat-option>
      <mat-option value="PROVEEDOR">PROVEEDOR</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="login-button-container create-button-custom" (click)="onUpdate()" [disabled]="!updateTipoEncuestaForm.valid" mat-raised-button color="primary">Actualizar Tipo de Encuesta</button>
</form>
