<form [formGroup]="createTipoEncuestaForm">
  <ng-container *ngIf="fsbsCod == 1">
    <mat-form-field appearance="fill">
      <mat-label>¿Código Admin?</mat-label>
      <mat-select formControlName="admins" panelClass="panel-custom" (selectionChange)="getCompanias($event.value)">
        <mat-option *ngFor="let admin of companiaLista.admins" [value]="admin.codigo">{{admin.codigo}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <mat-form-field appearance="fill">
    <mat-label>Código Tipo de Encuesta</mat-label>
    <input matInput formControlName="identificador" placeholder="Introduzca un identificador para el tipo de encuesta">
  </mat-form-field>
  <div *ngIf="createTipoEncuestaForm.get('identificador')?.invalid && (createTipoEncuestaForm.get('identificador')?.dirty || createTipoEncuestaForm.get('identificador')?.touched)" class="alert alert-danger">
    <div *ngIf="createTipoEncuestaForm.get('identificador')?.errors?.['required']">
      El código de tipo de encuesta es requerido.
    </div>
    <div *ngIf="createTipoEncuestaForm.get('identificador')?.errors?.['maxlength']">
      Solo se permiten máximo 3 caracteres para el código de tipo de encuesta.
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Descripción del Tipo de Encuesta</mat-label>
    <input matInput formControlName="descripcion" placeholder="Introduzca una descripcion para el tipo de encuesta">
  </mat-form-field>
  <div *ngIf="createTipoEncuestaForm.get('descripcion')?.invalid && (createTipoEncuestaForm.get('descripcion')?.dirty || createTipoEncuestaForm.get('descripcion')?.touched)" class="alert alert-danger">
    <div *ngIf="createTipoEncuestaForm.get('descripcion')?.errors?.['required']">
      La descripción del tipo de encuesta es requerido.
    </div>
    <div *ngIf="createTipoEncuestaForm.get('descripcion')?.errors?.['maxlength']">
      Solo se permiten 100 caracteres para la descripción del tipo de encuesta.
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>¿Afectación?</mat-label>
    <mat-select formControlName="afectacion" panelClass="panel-custom">
      <mat-option value="CLIENTE">CLIENTE</mat-option>
      <mat-option value="PROVEEDOR">PROVEEDOR</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="createTipoEncuestaForm.value.admins">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        Compañías
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let compania of companiaLista.companias">
          <mat-checkbox [(ngModel)]="compania.completed"
                        (ngModelChange)="updateAllComplete()"
                        [ngModelOptions]="{standalone: true}"
                        (change)="setCompania($event.checked, $event.source.value)"
                        [value]="compania.codigo_cia!">
            {{compania.codigo_cia}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </ng-container>
  <button class="login-button-container create-button-custom" (click)="onSubmit()" [disabled]="!createTipoEncuestaForm.valid" mat-raised-button color="primary">Crear Tipo de Encuesta</button>
</form>
