 <form [formGroup]="formGroup">
  <mat-vertical-stepper formArrayName="preguntas" linear [animationDuration]="'1500'">
    <mat-step [formGroupName]="i" [stepControl]="formGroup.get('preguntas')['controls'][i]" *ngFor="let customerGroup of formGroup.get('preguntas')['controls']; let i = index">
      <ng-template matStepLabel>{{customerGroup.value.pregunta}}</ng-template>
      <mat-radio-group formControlName="selected" *ngIf="customerGroup.value.tipo_pregunta == 'C'">
        <ng-container *ngFor="let respuesta of customerGroup.value.respuestas">
          <mat-radio-button class="radio-boton-encuesta" *ngIf="respuesta.resp" [value]="respuesta.id">
            {{respuesta.resp}}
            <ng-container *ngIf="respuesta.img">
              <img class="imagen-radio-boton-encuesta" [src]="respuesta.img" alt="Imagen de la respuesta">
            </ng-container>
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
      <mat-form-field appearance="fill" *ngIf="customerGroup.value.tipo_pregunta == 'A'">
        <mat-label>Respuesta</mat-label>
        <textarea matInput formControlName="selected" placeholder="Introduzca una respuesta..."></textarea>
      </mat-form-field>
    <div class="botones-stepper">
      <button mat-button matStepperPrevious *ngIf="i > 0" type="button">Atrás</button>
      <button mat-button matStepperNext *ngIf="i < formGroup.get('preguntas')['controls'].length-1" [disabled]="!customerGroup.value.selected" type="button">Siguiente</button>
      <button mat-button *ngIf="i == formGroup.get('preguntas')['controls'].length-1" [disabled]="!customerGroup.value.selected" (click)="sendData()">Enviar</button>
    </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
